*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sectiion-header{
    margin-bottom: 40px;
}
.sectiion-header h3{
    color: burlywood;
    font-size: 45px;
    font-weight: 700;
}
.sectiion-header h2 span{
    color: black;
}
.navbar-nav a{
    font-size: 16px;
    font-weight: 700;
}
.navbar-light .navbar-brand{
    color: burlywood;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand span{
    color:black;
}
.sectiion-padding{
    padding: 80px 0;
}
.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding: 1px 5px;
    font-size: 10px;
    line-height: 0.3;
    background:#fff ;
}
.carousel{
    background-image: url(./image/pexels-jordan-hyde-1383834.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel caption{
    bottom: 220px;
    z-index: 2;
    left: 8%;
}
.carousel-caption h5{
    font-size: 45px;
    margin-top: 25px;
    color: black;
    font-weight: 700;
    text-align: left;
}
#about{
    padding-top: 70px;
}
.carousel-caption h5 span{
 color: burlywood;   
}
.carousel-caption p{
    width: 60%;
    font-size: 18px;
    line-height: 1.8;
    color:black;
    text-align: left;
}
.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 5px 20px;
    display: inline-block;
    color: white;
    margin-top: 15px;
    border-radius: 5px

}
.img-area img{
    width: 100% !important;
}
.about-text h2{
    font-size: 45px;
    font-weight: 700;
    color: black;
}
.about-text h2 span{
    color: burlywood;
}
.about-text .btn{
    background: black;
    color: whitesmoke;
    
}
#services{
    padding-top: 70px;
}
.single-services{
    background: black;
    color: burlywood;
    padding: 30px 15px;
}
.single-services i{
    font-size: 45px;
    margin-bottom: 30px;
}
.single-services h2{
    font-family: 
}
.choose-img img{
    width: 100%;
}
.single-box{
    padding: 20px;
}
.single-box i{
    font-size: 35px;
    margin-bottom: 25px;
    color: burlywood;
}
.single-box h2{
    color: black;
}
.section-header h2{
    color: burlywood;
}
#whyus{
    padding-top: 75px;
}
.imgBox{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 25px;
}
.imgBox img{
    width: 100%;
}
.single-box img{
    width: 100%;
}
.single-client{
    box-shadow: 0 2px 20px rgba(0,0, 0, 0.3);
    padding: 30px 15px;
}
.single-client h2{
    color: burlywood;
}
.single-client h5{
    color: burlywood;
    font-weight: 600;
    font-size: 15px;
}
.single-client h5 span{
    font-size: 12px;
    text-transform: uppercase;

}
#testi{
    padding-top: 75px;
}
.single-client h5 span{
    font-size: 12px;
    text-transform: uppercase;   
}
.left-contact{
    background: burlywood;
    padding: 60px;
    color: #fff;
}
.left-contact h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;

}
label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 10px 0;
}
.contact .btn{
    background: burlywood;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
}
#contact{
    padding-top: 75px;
}
#soicals{
    padding-top: 75px;
}
footer{
    /* background: black; */
    padding: 35px 0;
    color: black;
}
.socials i{
    font-size: 25px;
    margin: 0 15px;
}
#soicals{
    padding-top: 75px;
} 
@media only screen and (min-width:768px) and (max-width:991px){
    .about-text h2{
        margin: 20px 0;
    }
    .single-services{
        margin-bottom: 30px;
    }
    .single-box{
        margin-bottom: 30px;
    }
    .single-client{
        margin-bottom: 35px;
    }
    .left-contact{
        margin-bottom: 30px;
    }
}
@media only screen and (min-width:768px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 100px;
    }
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        width:100% ;
        font-size: 10px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 14px;
    }
    .about-text h2{
        font-size: 30px;
        margin: 15px 0;
    }
    .sectiion-header h2{
        font-size: 30px;
    }
    .single-services{
        margin-bottom: 30px;
    }
    .single-client{
        margin-bottom: 30px;
    }
    .left-contact h3{
        text-align: center;
    }
    .left-contact p{
        text-align: center;
    }
}
.btn :hover{
    color: white;
    background-color: burlywood;
}
a:hover{
    color: white;
    background-color: burlywood;
    border-radius: 5px;
    box-shadow: cyan;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}